@charset "UTF-8";

/* 초기화 */
*{
margin: 0; padding: 0;
font : normal 12px 'Dotum'
}
a { text-decoration: none; }
img { border: 0; }
ul { list-style: none; }

body{ width: 960px;
    margin: 0 auto;
    background-color: #fcf2f3;
    

}
/* header */
#header h1 {
    position: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    color: #111;
    text-transform: uppercase;
    font-weight: normal;
    position: fixed;
    overflow: auto;
}

#header p {
   position: fixed;

}
#header{
    
    height: 100px;
    margin: auto;
    padding: 0;
    background: #fcf2f3;
    z-index: 5;
   
}

aside{
    width: 960PX;
    height: 800px;

}

                /* 왼쪽사이드 메뉴*/
               
                div#right{ 
                    position: fixed;
                    overflow: auto;
                    float: left;
                    left: 0;
                  
                   
                   
                    width: 300px;
                    height: 800px;
                    margin: 0 auto;
                    padding: 0;
                }
                 
                div#right ul{
                            
                             color: black;            
                            background-color: #fcf2f3;  
                            float:left;   
                            left: 0;             
                            line-height: 80px;         
                            vertical-align: middle;     
                            text-align: center;    
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
                 
                div#right ul li{
                    
                    background-color:#fcf2f3;
                    padding:5px 10px;
                }
                 
                div#right ul li a{
                    
                    display: inline;
                    color:black;
                    text-decoration:none;
                    font-size:20px;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }
                 
                div#right ul li a:hover{
                   
                        color:red;
                    background-color:white;
                }
                div#main{ 
                   
                    float:left;
                    color:red; 
                }
                
                
/* 이미지 */

div .img-wrapper .img marquee {
             position:relative;
             overflow: auto;
             float: right;
             padding-top: 50%;
             right: 0;
             width: 660px;
             height: 800px;
}




 /* 푸더   */
 footer {
     position: fixed;
     overflow: auto;
     bottom: 0;
     height: 200px;
     width: 960px;
     background-color: #3c3935;
     -moz-column-count :4;
     column-count: 4;
     column-rule: 2px dotted white
 }
.foo_div {
    text-align: center;
   
}


.foo_div p {
    margin-top: 5px;
    /* color: white; */
}

h1 {break-before: column;
    font-family: bold;
    font-size: x-large ; 
    color: white;}


