@charset "UTF-8";

/* 초기화 */
*{
margin: 0; padding: 0;
font : normal 12px 'Dotum'
}
a { text-decoration: none; }
img { border: 0; }
ul { list-style: none; }
body{
    background-color: #fcf2f3;
}

/* header */
#header h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
}
#header{
    
    height: 100px;
    margin: auto;
    padding: 0;
    background: #fcf2f3;
    z-index: 5;
    
}

/* 상단메뉴 */

  #topMenu {              
                        height: 50px; 
                        width: 1500px; 
                        margin: 0 auto;
                        padding: 0;
                    }
                        
                #topMenu ul li {  
                                       
                        list-style: none;          
                        color: black;            
                        background-color: #fcf2f3;  
                        float: right;                
                        line-height: 100px;         
                        vertical-align: middle;     
                        text-align: center;    
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                             
                        }
                #topMenu .menuLink {  
                                                  
                        text-decoration:none;                      
                        color:black;                           
                        display: block;                            
                        width: 150px;                             
                        font-size: 20px;                          
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }
                #topMenu .menuLink:hover {  
                                
                        color: red;                
                        background-color: white;   
                }

                /* 왼쪽사이드 메뉴*/
               
                aside#left{ 
                    float: left;
                    width: 400px;
                    height: 1000px;
                    margin: 0 auto;
                    padding: 0;
                }
                 
                aside#left ul{
                
                             color: black;            
                            background-color: #fcf2f3;  
                            float: right;                
                            line-height: 80px;         
                            vertical-align: middle;     
                            text-align: center;    
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
                 
                aside#left ul li{
                    
                    background-color:#fcf2f3;
                    padding:5px 10px;
                }
                 
                aside#left ul li a{
                    display: block;
                    color:black;
                    text-decoration:none;
                    font-size:20px;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }
                 
                aside#left ul li a:hover{
                        color:red;
                    background-color:white;
                }
                aside#main{ 
                    float:left;
                    color:red; 
                }
                
                
/* 이미지 */
.img {
    position: absolute;
    margin:0 auto;
    text-align: center; 
    width: 100%;
    height: 100%;
    z-index: -1;
    }

   
