*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
a{text-decoration: none;}
img{border: 0;}
ul{list-style: none;}

/* 헤더 */

.nav{
    background: #fef100;
    font-family: "Spoqa Han Sans" ,"Sans-sreif";
    font-weight: 400;
}
.container{
    position: relative;
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
}
h1{
    margin: 0;
    height: 114px;
    padding: 0;
}
.brand_logo{
    display: block;
    padding: 16px 0 0;
    height: 114px;
    line-height: 11px;
    text-align: center;
}

#Menu{
    position: relative;
    display: flex;
    width: 100%;
    margin: 4em auto;
}

a:link, a:hover,a:visited{
    color:#777;
    text-decoration: none;
    text-shadow: #fef100;

}
nav{
    width: 100%;
    height: auto;
    background: #fef100;
    font-size: 1em;
    font-weight: bold;
    position: relative;
}
nav ul {
    
    height: auto;
}
nav ul li{
   display: block;
   width: 100%;
   text-align: center;
   border-bottom: 1px solid #777;
}
nav ul li a {
    line-height: 50px;
}
 a #trigger{
    display: block;
    background: #fef100;
    padding-left: 15px;
    line-height: 40px;
    position: relative;
}
 a#trigger::after{
    content: "";
    background: url(../img/bar.png) no-repeat;
    width: 50%;
    height: 50%;
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 0px;
}
a #earth{
    display: block;
    background: #fef100;
    padding-right: 15px;
    line-height: 40px;
    position: relative;
    
}
a #earth ::after{
    content: "";
    background: url(../img/캡처.png) no-repeat;
    width :50%;
    height: 50%;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 0px;
}

@media screen and (max-width : 635px){
    nav ul{
        display: none;
    }
}
@media screen and (min-width : 800px){
    nav {
        height: 40px;
    }
    nav ul {
        display: block;
        width: 720px;
        height: 40px;
        padding: 0;
        margin: 0 auto;
    }

    nav ul li {
        display: inline-block;
        width: 120px;
        border-bottom: 0;
        border-right: 1px solid #576979;        
        margin-right:-6px;
    }

    nav ul li:last-child {
        border-right: 0;
    } 

    nav ul li a {
        font-size: 1em;
        line-height:40px;
    }
}
@media screen and (min-width : 1900px){
    nav {
        height: 40px;
    }
    nav ul {
        display: block;
        width: 720px;
        height: 40px;
        padding: 0;
        margin: 0 auto;
    }

    nav ul li {
        display: inline-block;
        width: 120px;
        border-bottom: 0;
        border-right: 1px solid #576979;        
        margin-right:-6px;
    }

    nav ul li:last-child {
        border-right: 0;
    } 

    nav ul li a {
        font-size: 1em;
        line-height:40px;
    }
}